#maindiv{
padding-top: 8%;
}

.newsletter{
    width: 55%;
    height: 37px;
    background-color: #323131;
    color: white;
    border: 1px solid white;

}


.youremail{
    width: 55%;
    height: 37px;
    background-color: #fffafa;
    color: black;

}

a{
    font-family: serif;
}